.Projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(46, 10vh);

  padding-right: 0.5rem;
  /* z-index: 0; */
}
.grid {
  width: 100%;
  height: 100%;
  /* transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1); */
}
.Projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.Project1 {
  background-color: #f5eddc;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-row: 1 / span 5;
  grid-column: 1 / span 4;

  border-radius: 5px;
}
.Project2 {
  background-color: #cfd2cf;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 5 / -1;
  grid-row: 1 / span 7;
  border-radius: 5px;
}

.Project3 {
  background-color: #eeeeee;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 1 / span 4;
  grid-row: 6 / span 5;
  border-radius: 5px;
}

.Project4 {
  background-color: #b9fff8;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 5 / -1;
  grid-row: 9 / span 5;
  border-radius: 5px;
}

.Project5 {
  background-color: #fce2db;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 1 / span 4;
  grid-row: 11 / span 6;
  border-radius: 5px;
}

.Project6 {
  background-color: #cfd2cf;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 5 / -1;
  grid-row: 14 / span 5;
  border-radius: 5px;

  z-index: 20;
}

.Project7 {
  background-color: #ffe5f1;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 1 / span 4;
  grid-row: 17 / span 6;
  border-radius: 5px;
}

.Project8 {
  background-color: #d4f6cc;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 5 / -1;
  grid-row: 19 / span 5;
  border-radius: 5px;
  z-index: 30;
}

.Project9 {
  background-color: #ffdaaf;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 1 / span 5;
  grid-row: 24 / span 6;
  border-radius: 5px;

  z-index: 10;
}

.Project10 {
  background-color: #f3ccff;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 6 / -1;
  grid-row: 24 / span 5;
  border-radius: 5px;

  z-index: 10;
}

.Project11 {
  background-color: #f4ead5;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 1 / span 5;
  grid-row: 30 / span 6;
  border-radius: 5px;
}
.Project12 {
  background-color: #e6cfee;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 6 / -1;
  grid-row: 29 / span 7;
  border-radius: 5px;
}

.Project13 {
  background-color: #e3c0ee;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 5 / -1;

  grid-row: 36 / span 6;
  border-radius: 5px;
}

.Project14 {
  background-color: #f0e1c1;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 1 / span 4;

  grid-row: 36 / span 5;
  border-radius: 5px;
}
.Project15 {
  background-color: #f8d4d4;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 1 / span 4;
  grid-row: 41 / span 6;
  border-radius: 5px;
}
.Project16 {
  background-color: #eabbf8;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  grid-column: 5 / -1;
  grid-row: 42 / span 5;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
  .Projects {
    grid-template-rows: repeat(46, 8vh);
  }
}
@media only screen and (max-width: 700px) {
  .Projects {
    grid-template-rows: repeat(46, 6vh);
  }
}

@media only screen and (max-width: 600px) {
  .Projects {
    gap: 0.5rem;
    /* grid-template-columns: repeat(8, 1fr); */
    grid-template-rows: repeat(39, 6vh);
  }

  .Project2 {
    grid-column: 5 / -1;
    grid-row: 1 / span 6;
  }

  .Project4 {
    grid-column: 5 / -1;
    grid-row: 7 / span 4;
  }
  .Project6 {
    grid-column: 5 / -1;
    grid-row: 12 / span 4;
  }
  .Project7 {
    grid-row: 17 / span 5;
  }

  .Project8 {
    grid-column: 5 / -1;
    grid-row: 16 / span 5;
  }
  .Project9 {
    grid-column: 1 / span 4;
    grid-row: 22 / span 4;
    z-index: 45;
  }
  .Project10 {
    grid-column: 5 / -1;
    grid-row: 21 / span 5;
    z-index: 50;
  }

  .Project11 {
    grid-column: 1 / span 5;
    grid-row: 26 / span 4;
  }
  .Project12 {
    grid-column: 6 / -1;
    grid-row: 26 / span 4;
  }

  .Project13 {
    grid-row: 30 / span 5;
  }

  .Project14 {
    grid-row: 30 / span 4;
  }
  .Project15 {
    grid-row: 35 / span 5;
  }
  .Project16 {
    grid-row: 35 / span 5;
  }
}
/* 
.Project13 {
  background-color: #b2a4ff;
}

.Project14 {
  background-color: #e6b325;
} */

@media only screen and (max-width: 800px) {
  .Projects {
    padding-left: 0.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .Projects {
    /* grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(40, 8vh); */
  }
}

@media only screen and (max-width: 310px) {
  .Projects {
    /* grid-template-rows: repeat(40, 6vh); */
  }
}
