.SideDrawer {
  position: fixed;
  width: 500px;
  max-width: 70%;
  height: 100vh;
  left: 0;
  top: 0;

  z-index: 300;

  background-color: #ffffff;
  /* background-color: #6b4859; */
  /* background-color: #201e1f; */
  padding: 12vh 16px;
  transition: transform 0.3s ease-out;

  display: none;
}

@media (max-width: 800px) {
  .SideDrawer {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
    border-top-right-radius: 5rem;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
