.SideMenuItem {
  padding-bottom: 0.5rem;
}

.SideMenuItem a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
}

.SideMenuItem a:hover,
.SideMenuItem a:active,
.SideMenuItem a.active {
  color: #000000;
  font-weight: 700;
}

@media (max-width: 800px) {
  .SideMenuItem {
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .SideMenuItem {
    padding-bottom: 1rem;
    font-size: 1.1rem;
  }
}
