.SideMenuItem {
  padding: 0.2rem 1rem 0.2rem 0rem;
  /* background-color: aquamarine; */
  font-size: 1rem;
  /* width: 100%; */

  text-align: right;
}

.SideMenuItem a {
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  transition: all 0.5s;
  display: block;
}

.SideMenuItem a:hover,
.SideMenuItem a:active,
.SideMenuItem a.active {
  color: #000000;
  font-weight: 700;
}

@media (max-width: 800px) {
  .SideMenuItem {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .SideMenuItem {
    padding-bottom: 1rem;
    font-size: 1.1rem;
  }
}
