.Input {
  /* width: 100%;
  padding: 2rem;
  box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: #e46759; */
}
.Label {
  /* font-weight: bold; */
  display: block;
  margin-bottom: 8px;
  /* justify-self: flex-start; */
}

/* input */
.InputElement {
  padding: 0.8rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #a9a9a9;

  background-color: white;
  font: inherit;
  font-size: 0.8rem;
  margin-bottom: 1rem;

  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
