Input {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

/* input */
.InputElement {
  padding: 0.8rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #a9a9a9;

  background-color: white;
  font: inherit;

  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
