.Weddings {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(33, 10vh);
  /* background-color: bisque; */
}
.grid {
  width: 100%;
  height: 100%;
}
.Weddings img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.FullImage {
  width: 100%;
  height: 100%;
}

/* ///////////////////////////// Grids */
.Wedding1 {
  border-radius: 5px;
  background-color: #f3ccff;

  grid-column: 1 / span 4;
  grid-row: 1 / span 6;
}
.Wedding2 {
  border-radius: 5px;
  background-color: #fcffe7;

  grid-column: 5 / -1;
  grid-row: 1 / span 6;
}
.Wedding3 {
  border-radius: 5px;
  background-color: #d8d9cf;

  grid-column: 1 / span 5;
  grid-row: 7 / span 5;
}
.Wedding4 {
  border-radius: 5px;
  background-color: #f5eddc;

  grid-column: 6 / -1;
  grid-row: 7 / span 4;
}
.Wedding5 {
  border-radius: 5px;
  background-color: #cff5e7;

  grid-column: 5 / -1;
  grid-row: 12 / span 6;
}
.Wedding6 {
  border-radius: 5px;
  background-color: #fce2db;

  grid-column: 2 / span 3;
  grid-row: 12 / span 5;
}
.Wedding7 {
  border-radius: 5px;
  background-color: #bfeaf5;

  grid-column: 5 / -1;
  grid-row: 18 / span 5;
}
.Wedding8 {
  border-radius: 5px;
  background-color: #cfd2cf;

  grid-column: 1 / span 4;
  grid-row: 17 / span 5;
}
.Wedding9 {
  border-radius: 5px;
  background-color: #f2e7d5;

  grid-column: 5 / span 3;
  grid-row: 23 / span 4;
}
.Wedding10 {
  border-radius: 5px;
  background-color: #def5e5;

  grid-column: 1 / span 4;
  grid-row: 22 / span 5;
}
.Wedding11 {
  border-radius: 5px;
  background-color: #faeab1;

  grid-column: 4 / -1;
  grid-row: 27 / span 6;
}
.Wedding12 {
  border-radius: 5px;
  background-color: #fff9ca;

  grid-column: 1 / span 3;
  grid-row: 27 / span 6;
}

@media only screen and (max-width: 600px) {
  .Weddings {
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(33, 9vh);
  }

  .Wedding6 {
    grid-column: 1 / span 4;
  }
}

@media only screen and (max-width: 400px) {
  .Weddings {
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(33, 6vh);
  }
}
/* @media only screen and (max-width: 310px) {
  .Weddings {
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(33, 6vh);
  }
} */
