.Weddings {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(33, 10vh);
  /* background-color: bisque; */
}
.grid {
  width: 100%;
  height: 100%;
}
.Weddings img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}
.Wedding1 {
  border-radius: 5px;
  background-color: chocolate;

  grid-column: 1 / span 4;
  grid-row: 1 / span 6;
}
.Wedding2 {
  border-radius: 5px;
  background-color: rgb(31, 15, 3);

  grid-column: 5 / -1;
  grid-row: 1 / span 6;
}
.Wedding3 {
  border-radius: 5px;
  background-color: rgb(10, 245, 29);

  grid-column: 1 / span 5;
  grid-row: 7 / span 5;
}
.Wedding4 {
  border-radius: 5px;
  background-color: rgb(76, 56, 190);

  grid-column: 6 / -1;
  grid-row: 7 / span 4;
}
.Wedding5 {
  border-radius: 5px;
  background-color: rgb(11, 228, 192);

  grid-column: 5 / -1;
  grid-row: 12 / span 6;
}
.Wedding6 {
  border-radius: 5px;
  background-color: rgb(233, 13, 178);

  grid-column: 2 / span 3;
  grid-row: 12 / span 5;
}
.Wedding7 {
  border-radius: 5px;
  background-color: rgb(21, 1, 22);

  grid-column: 5 / -1;
  grid-row: 18 / span 5;
}
.Wedding8 {
  border-radius: 5px;
  background-color: rgb(211, 165, 131);

  grid-column: 1 / span 4;
  grid-row: 17 / span 5;
}
.Wedding9 {
  border-radius: 5px;
  background-color: rgb(245, 10, 10);

  grid-column: 5 / span 3;
  grid-row: 23 / span 4;
}
.Wedding10 {
  border-radius: 5px;
  background-color: rgb(133, 145, 136);

  grid-column: 1 / span 4;
  grid-row: 22 / span 5;
}
.Wedding11 {
  border-radius: 5px;
  background-color: rgb(226, 205, 12);

  grid-column: 4 / -1;
  grid-row: 27 / span 6;
}
.Wedding12 {
  border-radius: 5px;
  background-color: rgb(72, 90, 89);

  grid-column: 1 / span 3;
  grid-row: 27 / span 6;
}

@media only screen and (max-width: 600px) {
  .Weddings {
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(33, 9vh);
  }

  .Wedding6 {
    grid-column: 1 / span 4;
  }
}

@media only screen and (max-width: 310px) {
  .Weddings {
    gap: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(33, 6vh);
  }
}
